    
.col-md-12 {
    transform: translateY(-20%);
}

#skill-icons {
    width: 20%;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

#chillsesion_title {
    text-align: center;
}

#chromerec {
    font-style: italic;
}

#windygogo_list {
    padding-left: 10%;
}

.img-responsive {
border: 1px solid #ddd;
border-radius: 4px;
width: 425px;
/* height: 4400x; */
margin-top: 20px
}

#headshot-container {
    display: flex;
    justify-content: center;
}

#download-resume {
    padding: 2%;
    background-color: rgb(113, 190, 113);
    display: table-cell;
    vertical-align: middle;
    border-radius: 50px;
      /* top: 50%; */
      /* transform: translateY(-50%); */

}

.about-me-header {
    padding-bottom: 3%;
    text-align: center;
}

.about-me-container {
    padding-bottom: 5%;
    margin-right: 5%;
}

.about-me-p {
    padding-bottom: 3%;
    text-align: left;
    /* line-height:  */
}

.about-me-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins',
    sans-serif;
    margin-bottom: 5%;
}

.about-me-links a{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins',
        sans-serif;
}

