    
.col-md-12 {
    transform: translateY(-20%);
}

#skill-icons {
    width: 20%;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 5px;
}

#chillsesion_title {
    text-align: center;
}

#chromerec {
    font-style: italic;
}

#windygogo_list {
    padding-left: 10%;
}

.img-responsive {
border: 1px solid #ddd;
border-radius: 4px;
width: 475px;
/* height: 4400x; */
margin-top: 2%
}

#headshot-container {
    display: flex;
    justify-content: center;
}

#download-resume {
    margin-bottom: 5%;
}

.about-me-header {
    margin-top: 2%;
    padding-bottom: 3%;
    text-align: center;
}

.about-me-container {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 5%;
}

.about-me-p {
    /* padding-bottom: 3%; */
    text-align: left;
    margin-bottom: 0px;
    /* line-height:  */
}

.portfolio-image {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.about-me-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins',
    sans-serif;
    /* margin-bottom: 2%; */
}

.about-me-links a{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins',
        sans-serif;
}

#item-work {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

#item-work:hover {
    font-weight: 500;
}

.logo-image {
    border-bottom: 1px solid #ddd;
}

.education-section {
    background-color: #F9F9F9;
}

.education-image {
    height: 100px;
    border-bottom: 1px solid #ddd;
}

#item-education {
    text-align: left;
  border-radius: 4px;
  text-align: left;
}

.education-container {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
        margin: 50px;
}

.education-list {
    /* padding-left: 10%; */
    padding: 5% 5% 5% 10%;
}

#education-all {
    display: flex;
    justify-content: space-evenly;
}

.education-container {
    border-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0px;
    padding: 40px 40px 40px 40px;
    margin-top: 32px;
}

.education-container:hover {
    border-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.education-years {
    text-align: center;
    font-style: italic;
    display: block;
}

#job-years {
    text-align: center;
    color: rgb(134, 129, 129);
    font-style: italic;
}